In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
#import thinkstats2
#import thinkplot
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as sm
from sklearn.preprocessing import StandardScaler
import scipy.stats as ss
import math
import random

import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (8,8)

<h1>Edmonton Photo Radar and Red Light Camera Ticketing</h1>
Merging three Edmonton Open Data datasets from I explore the photo radar ticketing in Edmonton. W
Datasets include: red light cameras study, DriveSafe photo radar trucks trucks and Average Annual Weekday Traffic Volumes. In total, 6 million rows of data merged on longitude and latitude, bringing in approximately 113,000 rows with a match between sets. There is still plenty of data to work with for an anlysis. 
<h3> Assumptions </h3>
</u>
<li> All photo radar trucks operate on the same rules. No operator is making their own decisions on giving people tickets, the machine is treating all vehicles the same.
<li> All red light cameras are programmed the same. If one decides to not give a ticket when going 1-5 km over the speed limit then none of them do.

In [2]:
df1=pd.read_csv("data/ETickets_2019.csv")
df1.head()

,Row ID,Site ID,Location,Road Name,Enforced Speed Limit,Month End Date,Deployment Hours,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude
0,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,1.5000,0,0,4,6,1,0,11,53.435731,-113.395537
1,2019-08-31-7132-100,7132,EB Anthony Henday Dr at 50 St,EB Anthony Henday Dr at 50 St,100,8/31/2019 0:00,0.7833,0,0,0,2,0,0,2,53.435416,-113.416955
2,2019-03-31-7099-50,7099,SB Sask Dr between 87 - University Ave,SB Sask Dr between 87 - University Ave,50,3/31/2019 0:00,17.5000,0,0,43,80,10,0,133,53.520900,-113.538860
3,2019-04-30-2719-50,2719,WB 107 Ave between 110 - 113 St,WB 107 Ave between 110 - 113 St,50,4/30/2019 0:00,22.3000,0,20,39,10,3,0,72,53.551410,-113.513022
4,2019-07-31-7064-50,7064,SB Groat Rd btwn S of 107 Ave-Victoria Pk Rd,SB Groat Rd btwn S of 107 Ave-Victoria Pk Rd,50,7/31/2019 0:00,6.5000,0,12,12,3,0,0,27,53.545604,-113.542788

In [3]:
df1=df1.drop(columns={"Road Name"})
df1["Red_Truck"]=0
df4= df1.pop("Deployment Hours")
df1["Deployment Hours"]= df4

In [4]:
df3=pd.read_csv("data/Red_Light Cams_Intersection_Safety_Device_Tickets_Issued__by_Month_.csv")

In [5]:
df5= df3.pop("Total Red Light Tickets")
df3=df3.drop(columns={"New Georeferenced Column"})
df3["Red_Truck"]= 1 
df3["Deployment Hours"]=24

In [6]:
df3['Total Red Light Tickets']= df5
df1["Total Red Light Tickets"] = 0

In [7]:
df3.head()

,Row ID,Site ID,Location,Enforced Speed Limit,Month End Date,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude,Red_Truck,Deployment Hours,Total Red Light Tickets
0,2019-10-31-ED1055-60,ED1055,NB 111 St @ Whitemud Drive EB,60,10/31/2019 0:00,0,0,284,70,21,0,375,53.482055,-113.515857,1,24,39
1,2019-10-31-ED1064-60,ED1064,EB 23 Ave @ 66 St,60,10/31/2019 0:00,0,0,169,31,5,1,206,53.453433,-113.435067,1,24,4
2,2019-10-31-ED1065-60,ED1065,EB 34 Ave @ 50 St,60,10/31/2019 0:00,0,0,7,2,2,0,11,53.464976,-113.420777,1,24,3
3,2019-10-31-ED1067-60,ED1067,WB Windermere Blvd @ Terwillegar Dr NB,60,10/31/2019 0:00,0,0,26,8,1,0,35,53.436815,-113.612106,1,24,13
4,2019-10-31-ED1068-60,ED1068,SB 170 St @ 69 Ave,60,10/31/2019 0:00,0,0,266,59,16,0,341,53.504907,-113.615794,1,24,4

In [8]:
df1.head()

,Row ID,Site ID,Location,Enforced Speed Limit,Month End Date,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude,Red_Truck,Deployment Hours,Total Red Light Tickets
0,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5000,0
1,2019-08-31-7132-100,7132,EB Anthony Henday Dr at 50 St,100,8/31/2019 0:00,0,0,0,2,0,0,2,53.435416,-113.416955,0,0.7833,0
2,2019-03-31-7099-50,7099,SB Sask Dr between 87 - University Ave,50,3/31/2019 0:00,0,0,43,80,10,0,133,53.520900,-113.538860,0,17.5000,0
3,2019-04-30-2719-50,2719,WB 107 Ave between 110 - 113 St,50,4/30/2019 0:00,0,20,39,10,3,0,72,53.551410,-113.513022,0,22.3000,0
4,2019-07-31-7064-50,7064,SB Groat Rd btwn S of 107 Ave-Victoria Pk Rd,50,7/31/2019 0:00,0,12,12,3,0,0,27,53.545604,-113.542788,0,6.5000,0

In [9]:
dfconcat=pd.concat([df1, df3])

In [10]:
dfconcat.sample(frac=.1)

,Row ID,Site ID,Location,Enforced Speed Limit,Month End Date,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude,Red_Truck,Deployment Hours,Total Red Light Tickets
4604,2021-10-31-4259-30,4259,"(53.555774785818386,-113.55844831852195)",30,10/31/2021 0:00,0,1,0,0,0,0,1,53.555775,-113.558448,0,9.0000,0
1162,2020-01-31-ED1073-60,ED1073,EB 100 Ave @ 175 St,60,1/31/2020 0:00,0,0,108,24,7,0,139,53.538711,-113.622203,1,24.0000,502
1846,2019-04-30-2590-60,2590,NB 170 St between 114 - 117 Ave,60,4/30/2019 0:00,0,0,9,0,0,0,9,53.565260,-113.615189,0,4.1167,0
4386,2021-07-31-7044-100,7044,"(53.57004756329126,-113.68955631569652)",100,7/31/2021 0:00,0,0,136,318,126,0,580,53.570048,-113.689556,0,70.7167,0
1258,2021-05-31-ED048-70,ED048,SB Manning Dr @ 137 Ave,70,5/31/2021 0:00,0,0,1,2,0,0,3,53.599543,-113.421272,1,24.0000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,2020-02-29-2748-50,2748,SB 50 St between 124 - 122 Ave,50,2/29/2020 0:00,0,20,35,10,1,0,66,53.578332,-113.418376,0,37.8000,0
7712,2021-03-31-2543-50,2543,"(53.518026725602965,-113.4643960843265)",50,3/31/2021 0:00,0,79,145,27,4,0,256,53.518027,-113.464396,0,85.4000,0
511,2020-02-29-ED015-60,ED015,WB 137 Ave @ 50 St,60,2/29/2020 0:00,0,0,20,2,2,0,24,53.597107,-113.412588,1,24.0000,18
6975,2020-04-30-2499-50,2499,"(53.49358966,-113.64016592999998)",50,4/30/2020 0:00,0,1,0,0,0,0,1,53.493590,-113.640166,0,1.1000,0
2374,2019-03-31-4115-30,4115,NB 76 St btwn 38 Ave south of 40 Ave,30,3/31/2019 0:00,0,5,18,9,6,0,38,53.474900,-113.450329,0,6.0167,0

In [11]:
dfconcat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10942 entries, 0 to 3192
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Row ID                   10942 non-null  object
 1   Site ID                  10942 non-null  object
 2   Location                 10942 non-null  object
 3   Enforced Speed Limit     10942 non-null  int64
 4   Month End Date           10942 non-null  object
 5   1-5 Over Speed Limit     10942 non-null  int64
 6   6-10 Over Speed Limit    10942 non-null  int64
 7   11-15 Over Speed Limit   10942 non-null  int64
 8   16-20 Over Speed Limit   10942 non-null  int64
 9   21-50 Over Speed Limit   10942 non-null  int64
 10  51+ Over Speed Limit     10942 non-null  int64
 11  Total Speeding Tickets   10942 non-null  int64
 12  Latitude                 10847 non-null  float64
 13  Longitude                10847 non-null  float64
 14  Red_Truck                10942 non-null  int64
 15  Deployment Hours         10942 non-null  float64
 16  Total Red Light Tickets  10942 non-null  int64
dtypes: float64(3), int64(10), object(4)
memory usage: 1.5+ MB

In [12]:
df2=pd.read_csv("data/Average_Annual_Weekday_Traffic_Volumes__2009-2015_.csv")

In [13]:
df2=df2.drop(columns={"Site Number", "Site Name","Location", "Geometry Point"})
#dfconcat_samp=dfconcat.sample(frac=.1)
df2.rename(columns = {'Latitude':'Latitude1', 'Longitude':'Longitude1'}, inplace = True)

In [14]:
df=(dfconcat.assign(dummy=1)
    .merge(df2.assign(dummy=1),on='dummy')
    .query('abs(Latitude-Latitude1)<=0.01 and abs(Longitude-Longitude1)<=0.01')
    .drop('dummy', axis=1)
)

In [15]:
df=df.drop(columns={"Latitude1", "Longitude1"})

In [16]:
df.head()

,Row ID,Site ID,Location,Enforced Speed Limit,Month End Date,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude,Red_Truck,Deployment Hours,Total Red Light Tickets,Year,Average Daily Volume
271,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2009,2400.0
1051,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2011,2400.0
1708,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2012,45900.0
3281,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2015,1600.0
3811,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2012,2400.0

In [18]:
df['Month'] = pd.DatetimeIndex(df['Month End Date']).month
df['Year'] = pd.DatetimeIndex(df["Month End Date"]).year
#df = df.drop(columns='Month End Date')
df.head()

,Row ID,Site ID,Location,Enforced Speed Limit,Month End Date,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude,Red_Truck,Deployment Hours,Total Red Light Tickets,Year,Average Daily Volume,Month
271,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2019,2400.0,8
1051,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2019,2400.0,8
1708,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2019,45900.0,8
3281,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2019,1600.0,8
3811,2019-08-31-7131-100,7131,WB Anthony Henday Dr at 34 St,100,8/31/2019 0:00,0,0,4,6,1,0,11,53.435731,-113.395537,0,1.5,0,2019,2400.0,8

In [19]:
df.isnull().sum()

Row ID                       0
Site ID                      0
Location                     0
Enforced Speed Limit         0
Month End Date               0
1-5 Over Speed Limit         0
6-10 Over Speed Limit        0
11-15 Over Speed Limit       0
16-20 Over Speed Limit       0
21-50 Over Speed Limit       0
51+ Over Speed Limit         0
Total Speeding Tickets       0
Latitude                     0
Longitude                    0
Red_Truck                    0
Deployment Hours             0
Total Red Light Tickets      0
Year                         0
Average Daily Volume       520
Month                        0
dtype: int64

In [20]:
df=df.drop(columns={'Row ID'})
df = df.dropna()
df.isnull().sum()

Site ID                    0
Location                   0
Enforced Speed Limit       0
Month End Date             0
1-5 Over Speed Limit       0
6-10 Over Speed Limit      0
11-15 Over Speed Limit     0
16-20 Over Speed Limit     0
21-50 Over Speed Limit     0
51+ Over Speed Limit       0
Total Speeding Tickets     0
Latitude                   0
Longitude                  0
Red_Truck                  0
Deployment Hours           0
Total Red Light Tickets    0
Year                       0
Average Daily Volume       0
Month                      0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136920 entries, 150 to 17359572
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Location                 136920 non-null  object
 1   Enforced Speed Limit     136920 non-null  int64
 2   1-5 Over Speed Limit     136920 non-null  int64
 3   6-10 Over Speed Limit    136920 non-null  int64
 4   11-15 Over Speed Limit   136920 non-null  int64
 5   16-20 Over Speed Limit   136920 non-null  int64
 6   21-50 Over Speed Limit   136920 non-null  int64
 7   51+ Over Speed Limit     136920 non-null  int64
 8   Total Speeding Tickets   136920 non-null  int64
 9   Latitude                 136920 non-null  float64
 10  Longitude                136920 non-null  float64
 11  Red_Truck                136920 non-null  int64
 12  Deployment Hours         136920 non-null  float64
 13  Total Red Light Tickets  136920 non-null  int64
 14  Year                     136920 non-null  int64
 15  Average Daily Volume     136920 non-null  float64
 16  Month                    136920 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 18.8+ MB

In [ ]:
df.describe()

,Enforced Speed Limit,1-5 Over Speed Limit,6-10 Over Speed Limit,11-15 Over Speed Limit,16-20 Over Speed Limit,21-50 Over Speed Limit,51+ Over Speed Limit,Total Speeding Tickets,Latitude,Longitude,Red_Truck,Deployment Hours,Total Red Light Tickets,Year,Average Daily Volume,Month
count,136920.000000,136920.0,136920.000000,136920.000000,136920.000000,136920.000000,136920.000000,136920.000000,136920.000000,136920.000000,136920.00000,136920.000000,136920.000000,136920.000000,136920.000000,136920.000000
mean,49.154105,0.0,6.397780,86.449262,19.911722,6.783487,0.050022,119.604981,53.540307,-113.505689,0.30268,20.517031,8.439220,2020.052396,13014.635232,6.009546
std,13.548911,0.0,21.401757,313.923650,68.312581,22.366797,0.272839,398.521363,0.046444,0.065625,0.45942,17.573601,25.569493,0.802843,14810.351177,3.326198
min,30.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.412935,-113.689558,0.00000,0.416700,0.000000,2019.000000,50.000000,1.000000
25%,30.000000,0.0,0.000000,2.000000,1.000000,0.000000,0.000000,4.000000,53.510470,-113.541194,0.00000,7.166700,0.000000,2019.000000,1900.000000,3.000000
50%,50.000000,0.0,0.000000,14.000000,4.000000,1.000000,0.000000,23.000000,53.546209,-113.497622,0.00000,22.298600,0.000000,2020.000000,7500.000000,6.000000
75%,60.000000,0.0,2.000000,72.000000,16.000000,6.000000,0.000000,104.000000,53.575896,-113.452112,1.00000,24.000000,5.000000,2021.000000,20500.000000,9.000000
max,100.000000,0.0,229.000000,7726.000000,1594.000000,453.000000,3.000000,9776.000000,53.647165,-113.362745,1.00000,119.700000,280.000000,2021.000000,118500.000000,12.000000

In [21]:

#df.to_csv(r'C:\Users\Mom\Desktop\EdmontonTraffic\export_dataframe.csv', index = None, header=True) 
df.to_csv(r'data/EdmontonTraffic.csv', index = None, header=True)